# build directory
RPMS/
SOURCES/
BUILD/
SPECS/
disk*/
*.iso

_os
_arch
_distribution
.rpmmacros

# ignore version, rules  files
Rules-*.mk
Rules.mk
Rolls.mk
roll*.mk
rocks-*.mk

python.mk

roll-autodock.*
