<chapter id="requirements" xreflabel="Requirements">
<title>Requirements</title>

<section id="rocks" xreflabel="Rocks">
<title>Rocks Roll</title>
<para>
The Autodock Roll is for use with Rocks @ROCKS_VERSION@.
</para>

<para>
The Autodock roll does not have any prerequisite rolls.
</para>
</section>

</chapter>
